@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('../styles/custom-ant-style.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  background: #e9e6e1;
  font-family: 'neue-regular';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-primary {
    color: white;
  }
}
@font-face {
  font-family: 'grotesk-mono';
  src: url('../utils/fonts/FKGroteskMono-Regular.woff2');
}
@font-face {
  font-family: 'times-now-light';
  src: url('../utils/fonts/TimesNow-ExtraLight.woff2');
}
@font-face {
  font-family: 'times-now-semilight';
  src: url('../utils/fonts/TimesNow-SemiLight.woff2');
}
@font-face {
  font-family: 'base-boom';
  src: url('../utils/fonts/BASE_BLOOM_Demo.otf');
}

.ant-card .ant-card-body {
  padding: 0px !important;
}
